// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//fontawesome
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.z-index-50{
  z-index: 50;
}

.bg-color{
  background-color: $bg-color;
}

.bg-color1{
  background-color: $bg-color1;
}
